/*
 * Copyright (c) 2015-2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "msm8953-mdss-panels.dtsi"

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&dsi_oppo16027jdi_r63452_1080p_cmd>;

	qcom,platform-enable-gpio = <&tlmm 38 0>;
	qcom,platform-bklight-en-gpio = <&tlmm 34 0>;
};

&labibb {
	qcom,qpnp-labibb-mode = "lcd";
};

&i2c_2 {
	ti_lm3697_bl@36 {
		compatible = "lm3697";
		reg = <0x36>;
		ti,bl-enable-gpio = <&tlmm 46 0x00>;
	};

	ktd2026@30 {
		status = "okay";
		compatible = "ktd,ktd2026";
		reg = <0x30>;
		ktd2026,max_brightness = <0x18>;
	};
};

&i2c_3 { /* BLSP1 QUP3 */
	synaptics15018@20 {
		synaptics,tx-rx-num = <18 32>;
		synaptics,enable1v8-gpio = <&tlmm 134 0x1>;
	};
};

&soc {
	fpc_fpc1020 {
		fpc,reset-gpio = <&tlmm 140 0x00>;
	};
};
